               body {
            ackground-image: url("footer.png");
            background-repeat: repeat;
            background-position: center;
            color: black;
            font-family: 'Fjalla One', sans-serif;
        }
        
        .navbar {
            min-height: 110px;
        }
        /*header navigation bar*/
        
        #header-nav {
            background-image: url("header.png");
            background-repeat: repeat;
            background-position: center;
            border-radius: 0px;
            border: 0;
            color: black;
        }
        /*Navbar brand name*/
        
        .navbar-brand h1 {
            font-size: 2em;
            color: black;
            text-shadow: 2px 1px 1px rgb(37, 35, 61);
            font-stretch: expanded;
            padding-left: 1px;
            margin-bottom: 0px;
        }
        /*Navbar random text styling*/
        
        .navbar-brand p {
            color: rgb(37, 35, 61);
            font-style: italic;
            font-stretch: expanded;
            padding-left: 1px;
            padding-top: 0px;
            margin-top: 0px;
        }
        
        .navbar-text {
            color: black;
            padding: 15px;
            padding-top: 100px;
        }
        
        .navbar-text span {
            color: rgb(37, 35, 61);
            font-style: italic;
            font-stretch: expanded;
        }
        
        #nav-list a {
            color: black;
            padding: 10px;
            text-align: center;
            padding-top: 50px;
        }
        
        #nav-list a:hover {
            color: blue;
        }
        
        #phone {
            padding-top: 0px;
            text-align: right;
            padding-bottom: 1px;
            margin-bottom: 1px;
        }
        
        #phone a {
            padding-bottom: 0px;
        }
        
        #date-text {
            padding: 10px;
            padding-top: 21px;
        }
        
        #date-text a:hover {
            color: black;
        }
        
        .navbar-header button.navbar-toggle,
        .navbar-header .icon-bar {
            border: 1px solid #000000;
            background: transparent;
        }
        
        .navbar-header button.navbar-toggle {
            clear: both;
            margin-top: -30px;
        }
        
        #main-content .topic {
             background-image: url("sexybatman.png");
            background-repeat: repeat;
            background-position: center;
            background-size: contain;
            padding: 25px;
            text-align: justify;
            padding-bottom: 10px;
            margin-bottom: 30px;
        }
        
        #main-content {
            background-image: url("sexybatman.png");
            background-repeat: repeat;
            background-position: center;
            background-size: contain;
            padding: 25px;
            text-align: justify;
            padding-bottom: 10px;
            margin-bottom: 30px;
        }
        
        #heading {
            color: rgb(14, 13, 13);
            text-align: center;
            text-shadow: 2px 1px 1px #fee121;
            font-size: 2em;
            font-weight: bolder;
            font-variant: small-caps;
        }
        
        footer {
            font-size: 0.7em;
            background-image: url("footer.png");
            background-repeat: repeat;
            background-position: center;
            margin: 1px 1px;
            color: white;
            border: 0px !important;
            letter-spacing: 2px;
        }
